*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.head{
    text-align: center;
    margin-bottom: 30px;
    font-style: italic;
    font-weight: 600;
    font-size: 2.5rem;
}
p span{
    color: red;
}

.container {
    width: 80%;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: auto;
    margin-top: 10%;
}

#newtask {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#newtask input {
    flex: 1;
    height: 40px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
}

#newtask button {
    height: 40px;
    padding: 0 20px;
    margin-left: 10px;
    background-color: #007bff;
    color: #fff; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#tasks {
    border-radius: 5px;
    background-color: #f8f9fa;
    padding: 20px;
}

.task {
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.task span {
    flex: 1;
    font-size: 16px;
}

.task button {
    margin-left: 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    padding: 7px 7px;
}
